@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


:root {
    --color-principal-50: #FFFFFF;
    --color-principal-100: #FCFBFF;
    --color-principal-150: #F0EAFC;
    --color-pricipal-300_fondo: #F3EAFF;
    --color-principal-805: #7C6E84;
    --color-principal-800: #652BDF;
    --color-principal-850_violeta-oscuro: #360C72;
    --color-principal-900: #2b2b2b;

}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--color-principal-100);
}

/* --HEADER GLOBAL-- */
header{
    height: 100%;
    background-color: var(--color-principal-50);
    z-index: 1000;
    top: 0;
    position: sticky;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #e7eaed;
    font-weight: bold;
    font-size: 13px;
    padding-left: 310px;
    padding-right: 290px;
}

/* --HEADER-LOGO-- */


/* --HEADER-CENTRO-NAV-- */
.header__nav ul{
    list-style: none;
    display: flex;
    align-content: space-between;
    align-items: center;
    padding-left: 10px;
}

a{
    text-decoration: none;
}

.header__nav a{
    color: #2b2b2b;
    white-space: nowrap;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    margin: 7px;
}

.header__nav a:hover{
    background-color: var(--color-pricipal-300_fondo);
    transition: background-color 0.2s ease-in-out;
}

/* --HEADER-FUNCIONES DERECHA-- */
.divisor{
    width: 0.9px;
    height: 22px;
    background-color: #d1d1d1;
    display: block;
    margin: 25px;
    margin-left: 0;
}

.header__functions{
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.header__functions a,
.btn-medios{
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 140px;
}

.btn-pill{
    border: solid 1px var(--color-principal-800);
    width: 147px;
    height: 38px;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
}

.btn-full{
    background-color: var(--color-principal-800);
    color: #FCFBFF;
}

.btn-full:hover{
    background-color: var(--color-pricipal-300_fondo);
    border-color: var(--color-principal-800);
    color: var(--color-principal-850_violeta-oscuro);
    transition: background-color 0.3s ease-in-out;
}

.btn-empty{
    color: var(--color-principal-800);
    transition: background-color 0.3s ease-in-out;
}

.btn-empty:hover,
.bienvenida_tarjeta:hover .bi{
    color: #360C72;
    background-color: var(--color-pricipal-300_fondo);
    transition: background-color 0.3s ease-in-out;
}

/*--CUERPO-BIENVENIDA--*/

main{
    margin-left: 37vh;
    margin-right: 40vh;   
}

.main__bienvenida,
.main__medio-cobro{
    text-align: center;
}

h1{
    letter-spacing: -1.6px;
    font-weight: 799;
    font-size: 37px;
    color: var(--color-principal-900);
    margin: 30px;
}

h3{
    color: #2C2C2C;
    font-size: 20px;
}

p{
    color: #6A6A6A;
    letter-spacing: 1px;
    line-height: 25px;
}

.main__bienvenida_tarjetas{
    display: flex;
    flex-wrap: nowrap;
    gap: 3vh;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-left: 3vh;
    margin-right: 3vh;
}

.bienvenida_tarjeta{
    background: var(--color-principal-50);
    min-width: 280px;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 0px;
}
.bienvenida_tarjeta:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-in-out 0.1s;
}

.bi{
    width: 55px;
    height: 55px;
    background: #f3eaff;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #652BDF;
}

i.bi{
    font-size: 20px;
}

/*--MAIN-HISTORIAS QUE VUELAN--*/
/*--MAIN-MEDIO DE COBRO IDEAL--*/
.main__medio-cobro p{
    font-size: 13px;
    font-weight: 530;
}

.main__medio-cobro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 3.5vh;
    justify-content: center;

}

.main__medio-cobro-tarjeta{
    display: flex;
    background-color: var(--color-principal-50);
    width: 127vh;
    height: 42vh;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.main__medio-cobro-tarjeta h2{
    font-weight: 600;
    font-family: "Inter",Arial,Helvetica,sans-serif;
    margin: 13px;
    margin-bottom: 3.2vh;
    font-size: 27px;
    padding-top: 9vh;
}

.main__medio-cobro-tarjeta p{
    margin: 13px;
    margin-bottom: 11vh;
    font-size: 16px;
    color: var(--color-principal-900);
    width: 440px;
    word-spacing: 0.5px;
    
}

.btn-medios{
    margin-left: 2vh;
    margin-bottom: 7vh;
}

.btn-medios:hover{
    background-color: var(--color-principal-850_violeta-oscuro);
    border-color: var(--color-principal-800);
    transition: background-color 0.5s ease-in-out;
    color: var(--color-principal-100);
}

.main__medio-cobro-tarjeta img{
    max-width: 300px;
    flex: 1;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    overflow-clip-margin: var(--color-principal-850_violeta-oscuro) ;
}

.main__medio-cobro-tarjeta img:hover{
    transform: scale(1.04);
}

.medio-cobro-tarjeta1,
.medio-cobro-tarjeta2{
    text-align: left;
    flex-direction: column;
}

.medio-cobro-tarjeta1-img{
    padding-right: 10vh;
}

.medio-cobro-tarjeta2-img{
    padding-left: 10vh;
}

.medio-cobro-tarjeta2-reverse{
    flex-direction: row-reverse;
}
