@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


:root {
    --color-principal-50: #FFFFFF;
    --color-principal-100: #FCFBFF;
    --color-principal-150: #F0EAFC;
    --color-pricipal-300_fondo: #F3EAFF;
    --color-principal-805: #7C6E84;
    --color-principal-800: #652BDF;
    --color-principal-850_violeta-oscuro: #360C72;
    --color-principal-900: #2b2b2b;

}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--color-principal-100);
}

.container__global {
    max-width: 1022px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

/* --HEADER GLOBAL-- */
header {
    background-color: var(--color-principal-50);
    z-index: 1000;
    top: 0;
    position: sticky;
    width: 100vw;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #e7eaed;
    font-weight: bolder;
    font-size: 13px;
    max-width: 100%;
    margin: 0 auto;
    gap: 10px;
    height: 72px;
}

/* --HEADER-LOGO-- */

.header_logo-mini {
    display: none;
}

.btn-list {
    display: none;
}

/* --HEADER-CENTRO-NAV-- */
.header__nav ul {
    list-style: none;
    display: flex;
    align-content: space-between;
    align-items: center;
    padding-left: 10px;
}

a {
    text-decoration: none;
}

.header__nav a {
    color: #2b2b2b;
    white-space: nowrap;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    margin: 7px;
}

.header__nav a:hover {
    background-color: var(--color-pricipal-300_fondo);
    transition: background-color 0.2s ease-in-out;
}

/* --HEADER-FUNCIONES DERECHA-- */
.divisor {
    width: 0.9px;
    height: 22px;
    background-color: #d1d1d1;
    display: block;
    margin: 25px;
    margin-left: 0;
}

.header__functions {
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.header__functions a,
.btn-medios {
    white-space: nowrap;
}

.btn-pill {
    border: solid 1px var(--color-principal-800);
    width: 147px;
    height: 38px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.btn-full {
    background-color: var(--color-principal-800);
    color: #FCFBFF;
    transition: background-color 0.3s ease-in-out;
}

.btn-full:hover {
    background-color: var(--color-pricipal-300_fondo);
    border-color: var(--color-principal-800);
    color: var(--color-principal-850_violeta-oscuro);
    transition: background-color 0.3s ease-in-out;
}

.btn-empty {
    background-color: var(--color-principal-50);
    color: var(--color-principal-800);
    transition: background-color 0.3s ease-in-out;
}

.btn-empty:hover,
.bienvenida_tarjeta:hover .bi {
    color: #360C72;
    background-color: var(--color-pricipal-300_fondo);
    transition: background-color 0.3s ease-in-out;
}

/*--CUERPO-BIENVENIDA--*/

.main__bienvenida,
.main__medio-cobro {
    text-align: center;
}

h1 {
    letter-spacing: -1.6px;
    font-weight: 799;
    font-size: 2.3em;
    color: var(--color-principal-900);
    margin-bottom: 1em;
}

h3 {
    color: #2C2C2C;
    font-size: 21px;
}

p {
    color: #6A6A6A;
    letter-spacing: 0.75px;
    line-height: 25px;
}

.main__bienvenida_tarjetas {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 20px;
}

.bienvenida_tarjeta {
    background: var(--color-principal-50);
    width: 290px;
    padding: 20px;
    border-radius: 18px;
    text-align: left;
    padding-bottom: 3vh;
    padding-right: px;
}

.bienvenida_tarjeta:hover {
    transform: translateY(-5px);
    transition: 0.3s ease-in-out 0.1s;
}

.bi {
    width: 52px;
    height: 52px;
    background: #f3eaff;
    border-radius: 9px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #652BDF;
}

i.bi {
    font-size: 20px;
}

/*--MAIN-HISTORIAS QUE VUELAN--*/
.main__historias-vuelan {
    width: 100%;
    margin: 30px 0;
}

.historias-vuelan-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #360C72;
    color: var(--color-principal-50);
    border-radius: 28px;
    padding: 32px 60px;
    max-width: 930px;
    margin: 0 auto;
    margin-bottom: 60px;
}


.historias-vuelan-letras h2 {
    font-size: 24px;
    letter-spacing: -0.5px;
}

.historias-vuelan-letras p {
    font-size: 17px;
    color: var(--color-principal-50);
    letter-spacing: 0.5px;
    opacity: .9;
    padding: 0px;
}

.btn-vuelan {
    border-color: transparent;
    width: 180px;
    white-space: nowrap;
}

.btn-vuelan:hover {
    background-color: black;
    color: var(--color-principal-50);
}

/*--MAIN-MEDIO DE COBRO IDEAL--*/

.main__medio-cobro .container__global {
    display: flex;
    max-width: 950px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: auto;

}

.main__medio-cobro h1 {
    font-size: 38px;
    margin-bottom: 0px;
}

.main__medio-cobro p {
    font-size: 13px;
    font-weight: 530;
}

.main__medio-cobro {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.main__medio-cobro .container__global {
    display: flex;
    flex-direction: column;
    gap: 45px;
    /* separación ENTRE LAS 4 TARJETAS */
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
}

.main__medio-cobro-tarjeta {
    display: flex;
    background-color: var(--color-principal-50);
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    gap: 110px;
    max-width: 950px;
    width: 100%;
    flex-wrap: nowrap;
}

.main__medio-cobro-tarjeta h2 {
    font-weight: 600;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 32px;
}

.main__medio-cobro-tarjeta p {
    margin: 14px 0;
    font-size: 16px;
    color: var(--color-principal-900);
    max-width: 100%;
    word-spacing: 0.5px;
    text-align: start;
    padding-bottom: 50px;
}

.btn-medios:hover {
    background-color: var(--color-principal-850_violeta-oscuro);
    border-color: var(--color-principal-800);
    transition: background-color 0.5s ease-in-out;
    color: var(--color-principal-100);
}

.main__medio-cobro-tarjeta img {
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    flex: 1;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    overflow-clip-margin: var(--color-principal-850_violeta-oscuro);
}

.main__medio-cobro-tarjeta img:hover {
    transform: scale(1.04);
}

.medio-cobro-tarjeta1,
.medio-cobro-tarjeta2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 100%;
    flex: 1 1 100px;
}

.medio-cobro-tarjeta1-img,
.medio-cobro-tarjeta2-img {
    flex: 1;
    /* ocupa mitad disponible */
    display: flex;
    justify-content: center;
    align-items: center;
}


.medio-cobro-tarjeta2-reverse {
    flex-direction: row-reverse;
}

/*--FOOTER--*/
.footer__container {
    width: 100%;
    margin-top: 8vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    box-sizing: content-box;
    background-color: var(--color-principal-50);
    box-sizing: border-box;
}

.footer__container .container__global {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    width: 100%;
}

.footer__container ul {
    flex-wrap: nowrap;
    list-style: none;
    padding-top: 1vh;
}

.footer__lista-opciones {
    display: flex;
    align-items: first baseline;
    gap: 100px;
    flex-wrap: nowrap;
}

.footer__lista-opciones h3 {
    font-size: 0.9em;
    white-space: nowrap;
}

.footer__lista-opciones li a {
    color: #2b2b2b;
    font-size: 0.78em;
    letter-spacing: 0.5px;
    line-height: 30px;
}

/* -------------------- */
/* MEDIA QUERIES */
/* -------------------- */

/*=======991PX=======/Se contrae el menú y aparece logo mini y list*/
@media (max-width: 991px) {

    .header_logo,
    .header__nav,
    .divisor,
    .header__functions {
        display: none;
    }

    .header__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 72px;
        padding: 0 16px;
    }

    .btn-list {
        display: flex;
        font-size: 26px;
        color: #2C2C2C;
        font-weight: bolder;
        z-index: 2;
    }

    .header_logo-mini {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -45%);
        /* ⬅ lo sube y centra un poco */
    }
}

/*=======767PX=======/ Alarga btn Historias que Vuelan + Se apilan las (4) ul del footer + logo-mini al centro*/


@media (max-width: 767px) {

    /*3 tarjetas bienvenida*/
    .main__bienvenida_tarjetas {
        display: grid;
    }

    .bienvenida_tarjeta {
        background: var(--color-principal-50);
        border-radius: 18px;
        text-align: left;
        padding-bottom: 10px;
        display: grid;
        justify-items: start;
        width: 100%;
        max-width: 730px;
    }



    /*Historias que vuelan*/
    .historias-vuelan-card {
        display: flex;
        flex-direction: column;
        align-items: start;
        border-color: transparent;
        width: 100%;
        max-width: 767px;
    }

    .historias-vuelan-card h2 {
        font-size: 1.2em;
        display: inline-table;
    }

    .btn-vuelan {
        width: 100%;
        margin-top: 1em;
    }

    /*Medio cobro ideal (4tarjetas)*/
    .main__medio-cobro-tarjeta {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
    }

    .btn-medios {
        display: flex;
        width: 100%;
    }

    /*Footer*/
    .footer__lista-opciones {
        display: grid;
        /* 🔥 CAMBIO */
        grid-template-columns: 1fr 1fr;
        /* 2 columnas */
        gap: 32px 24px;
        /* filas / columnas */
        justify-items: start;
    }

    /* CADA UL */
    .footer__lista-opciones ul {
        padding: 0;
    }

    .footer__container {
        min-width: 300px;
    }

    .footer__logo-mobile {
        display: flex;
        position: relative;
        justify-content: center;
    }
}


/*=======..........=======*/
@media (max-width: 756px) {}